
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
env/
ENV/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Type checkers / linters
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.ruff_cache/

# IDEs / editors
.vscode/
.idea/

# Environment files
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
